.post {
    margin-bottom: 2%;
}

.post-profile-pic {
    width: 8vh;
}

.post-header  {
    display: flex;
}

.profile-link {
    display: flex;
    align-items: center;
}

.hours-played {
    margin-bottom: 1% !important;
}

.post-score {
    margin-bottom: 1% !important;
    margin-right: 2%;
}

.game-link {
    margin-bottom: 2%;
}

.game-cover-pic {
    max-height: 50vh;
    max-width: 20vw;
}