<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Frontend</title>
  <link rel="stylesheet" href="./css/styles.css">
  <script src="./js/gamelib.js" type="module"></script>
</head>
<body>

  

  <!-- content starts here -->
  
  <header>
    <a href="/">
      <button>Home</button>
    </a>
  <!-- TODO: logo icon goes here -->

  <a href="/login">
    <button>Log In</button>
  </a>

  <a href="/profile">
      <button>Profile</button>
  </a>

  </header>

  <section class="content">
    <input type="search" placeholder="&#x1F50D; search for games or users" class="searchBar" id="searchBar">

    <h1 class="gamelibrary">Game Library</h1>

    <div class="games">
      <h2>All Games</h2>
      <div id="game-list">
        <!-- each game will be listed here and users will be able to click them and it will
             take them to the game page -->
      </div>
    </div>

  </section>

  <footer>
    <p>
      © Gameshelf. Brought to you by SuperCoolGameDevelopers.
    </p>
  </footer>
</body>
</html>