<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Frontend</title>
  <link rel="stylesheet" href="./css/styles.css">
  <script src="./js/home.js" type="module"></script>
</head>
<body>
  <p>If you can see this, your frontend is working properly.</p>


  <p>Check your API <a href="/api" target="_blank">here</a>.</p>
  <hr>

  <!-- content starts here -->
  <header>
    <a href="/">
      <button>Home</button>
    </a>
  <!-- TODO: logo icon goes here -->

  <a href="/login">
    <button>Log In</button>
  </a>

  <a href="/profile">
      <button>Profile</button>
  </a>

  </header>

  <section class="content">
    <h1>Welcome to Gameshelf!</h1>

    <input type="search" placeholder="&#x1F50D; search for games or users" class="searchBar" id="searchBar">

    <div class="recentGames">
       <h2>Recent Game Reviews</h2>
       <div id="game-reviews">

       </div>
<!----
      <div class="recentGame1" id="rg">
        <h3>Watching Grass Grow: The Game</h2>
      </div>

      <div class="recentGame2" id="rg">
        <h3>The Legend of Dingleberry</h3>
      </div>

      <div class="recentGame3" id="rg">
        <h3>Pirates of the Not Caribbean</h3>
      </div>

      <div class="recentGame4" id="rg">
        <h3>Dried Paint: The Return</h3>
      </div>

      <div class="recentGame5" id="rg">
        <h3>Goat of War: Goats of Sparta</h3>
      </div>

      <div class="recentGame6" id="rg">
        <h3>Life of a Rat: Rodent Simulator</h3>
      </div> -->

    </div>
  </section>

  <footer>
    <p>
      © Gameshelf. Brought to you by SuperCoolGameDevelopers.
    </p>
  </footer>
</body>
</html>