<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Frontend</title>
  <link rel="stylesheet" href="./css/styles.css">
</head>
<body>

    <header>
        <a href="/">
            <button>Home</button>
        </a>
    </header>

  <p>Log In</p>

  <!-- user name and password fields -->
  <input type="text" id="user" placeholder="Username or e-Mail" required>
  <input type="password" id="pwd" placeholder="Password" required>

  <!-- log in button -->
  <input type="submit" value="Log In">
  
  <!-- create account if applicable -->
  <p>
    Don't have an account? Make one
    <a href="#">
        here
    </a>
    .
  </p>

</body>
</html>